@charset "utf-8";
* { margin: 0; padding: 0; box-sizing: border-box; list-style: none;}
a {text-decoration: none; color: inherit;}

/* 레이아웃 */
.container {
    width: 1200px;
    margin: auto;
}
header{
    width: 100%;
    height: 100px;
    background-color: #03aa6a;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
}
section {
    width: 100%;
}
#slides{ height: 300px;}
#contents{ height: 200px;}
footer {
    width: 100%;
    height: 100px;
    background-color: #4d4d4d;
}

/* 로고 */
header .logo {}
header .logo a {}
header .logo a img {
    width: 200px;
    height: 40px;
}

header nav {
    position: relative;
    top: 10%;
    z-index: 10;
}
header nav .main-menu {
    display: flex;
    justify-self: center;
    align-items: center;

}
header nav .main-menu li {
    width: 200px;
    height: 50px;
    line-height: 50px;
    text-align: center;
}
header nav .main-menu li a {
    color: white;
    display: inline-block;
    width: 100%;
    height: 100%;
}

header nav .main-menu li a:hover {
    background-color: #333333;
}

header nav .sub-menu {
    display: none;
}
header nav .sub-menu > li {
    background-color: #038d58;
}
header nav .sub-menu > li a {
    color: #121212;
}
header nav .sub-menu > li a:hover {
    background-color: #005837;
    color: #fff;
}

/* 슬라이드 */
#slides{
    width: 1200px;
    height: 300px;
    overflow: hidden;
}
.slide-container{
    position: relative;
    display: flex;
    /* 세로 슬라이드 */
    /* flex-direction: column; */
}

/* .slide-container .slide {
    width: 1200px;
    height: 300px;
} */

.slide-container .slide img{
    width: 1200px;
    height: 100%;
}

/* 컨텐츠 */
#contents {
    display: grid;
    grid-template-columns: repeat(3, calc(100%/3));
    grid-template-rows: 200px;
}


.tab-menu {
    display: flex;
    align-items: center;
    height: 40px;
}
.tab-menu  .menu-item {
    border-bottom-width: 0;
    width: 100px;
    height: calc(40px - 2px);
    line-height: calc(40px -2px);
    text-align: center;
}
.tab-menu  .menu-item a {
    display: inline-block;
    width: 100%;
    /* height: 100%; */
}

.tab-menu  .menu-item:hover,
.tab-menu  .menu-item.active {
    background-color: skyblue;
}


.tab-content {
    position: relative;
    top: -2px;
} 
.tab-content .tab-item{} 
.tab-content .tab-item ul li a{
    display: flex;
    height: 40px;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
}

.tab-content .content-item ul li:nth-of-type(odd){
    background-color: #eeeeee;
}
.tab-content .tab-item ul li:nth-of-type(even){}
.tab-content .tab-item ul li:hover{
    filter: brightness(90%);
}

/* .tab-content .content-item table td {
    padding: 0 10px;
    box-sizing: border-box;
} */


/* 공지사항 */
.btn-modal{cursor: pointer;}
/* 갤러리 */
/* #content-gallery {
    display: none;
} */

.gallery {
    width: 100%;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: calc((100% - 300px) / 4);
}

/* 배너 */
.banner img { width: 100%;}
/* 바로가기 */
.link img {
    width: 100%;
}

